  <!-- end service section -->
  <section class="hero">
    <div class="hero-section">
      <h2>Welcome to our Recipe Collection !</h2>
      <p>Search mouth watering recipes to satisfy your cravings.</p>
      <form action="#" class="search-box">
        <input type="text" placeholder="Search Recipe">
        <button type="submit">Search</button>
      </form>
    </div>
  </section>

  <section class="recipes">
    <h1>Featured Recipes</h1>
    <div class="recipe-section">
      <div class="recipe-card">
        <img src="images/dish-1.jpg" alt="">
        <h2>Strawberry Custurd</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <a href="#">View Recipe</a>
      </div>
      <div class="recipe-card">
        <img src="images/dish-2.jpg" alt="">
        <h2>Strawberry Custurd</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <a href="#">View Recipe</a>
      </div>
      <div class="recipe-card">
        <img src="images/dish-3.jpg" alt="">
        <h2>Strawberry Custurd</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <a href="#">View Recipe</a>
      </div>
      <div class="recipe-card">
        <img src="images/dish-4.jpg" alt="">
        <h2>Strawberry Custurd</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <a href="#">View Recipe</a>
      </div>
    </div>

  </section>