<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>
          contests
        </h5>
        <ul>
          <li>
            level 1
          </li>
          <li>
            level 2
          </li>
          <li>
            level 3
          </li>
          <li>
            level 4
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>
          forums
        </h5>
        <ul>
          <li>
            groups
          </li>
          <li>
            gym
          </li>
          <li>
            post
          </li>
          <li>
            practice
          </li>
          
        </ul>
      </div>
      <div class="col-md-3">
        <h5>
          recipes
        </h5>
        <ul>
          <li>
            tags
          </li>
          <li>
            cuisine
          </li>
          <li>
            ingredients
          </li>
          <li>
            fruits
          </li>
          
        </ul>
      </div>
      <div class="col-md-3">
        <div class="social_container">
          <h5>
            Follow Us
          </h5>
          <div class="social-box">
            <a href="">
              <img src="images/fb.png" alt="">
            </a>

            <a href="">
              <img src="images/twitter.png" alt="">
            </a>
            <a href="">
              <img src="images/linkedin.png" alt="">
            </a>
            <a href="">
              <img src="images/instagram.png" alt="">
            </a>
          </div>
        </div>
        <div class="subscribe_container">
          <h5>
            Subscribe Now
          </h5>
          <div class="form_container">
            <form action="">
              <input type="email">
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    Copyright &copy; 2024 All Rights Reserved By
    <a href="#"></a>
  </p>
</section>
<!-- footer section -->