<section class="service_section layout_padding ">
  <div class="container">
    <h2 class="custom_heading">Our Services</h2>
    <p class="custom_heading-text">
      There are many variations of passages of Lorem Ipsum available, but
      the majority have
    </p>
    <div class=" layout_padding2">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="images/card-item-1.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Contests</h5>
            <p class="card-text">
              The chefs out there to showcase their talent and win exciting prizes by participating in our contests.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images/card-item-2.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Forums</h5>
            <p class="card-text">
              The users can interact with each other and share their experiences and knowledge in our forums.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images/card-item-3.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Recipes</h5>
            <p class="card-text">
              The users can share their recipes and learn new recipes from other users in our recipe section.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="" class="custom_dark-btn">
        Read More
      </a>
    </div>
  </div>
</section>